@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Naskh+Arabic&family=Scheherazade+New:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8B378;
}

body>i {
    position: fixed;
    z-index: 30;
    right: 2%;
    top: 32%;
    padding: 10px;
    font-size: 35px;
    margin: 20px 0px;
    color: white;
    border-radius: 7px;
    background-color: black;
    mix-blend-mode: multiply;
    width: 55px;
    text-align: center;
    cursor: pointer;
}

body>i:hover {
    opacity: 0.7;
}

body>.i2 {
    top: 43%;
}

body>.i3 {
    top: 54%;
}

body>.i4 {
    top: 65%;
}

body>.i5 {
    top: 76%;
}

.social i:hover {
    background-color: rgba(155, 103, 60, 0.8);
    cursor: pointer;
}

nav .nav-link {
    color: rgb(155, 103, 60);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 15px white;
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    font-family: 'Amiri', serif;
}

nav .me-2 {
    width: 250px;
}

.welcome {
    background-color: #D8B378;
    margin: 0;
    text-align: right;
    padding: 30px 100px;
}

.welcome div {
    text-align: left;
}

.welcome button {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    color: rgb(155, 103, 60);
    border: 2px solid #D8B378;
}

.welcome button:hover {
    background-color: #D8B378;
    border: 2px solid white;
    color: white;
}

body>h2 {
    background-color: rgb(92, 64, 51);
    padding: 10px 0px;
    text-align: center;
    color: white;
    margin: 0;
    box-shadow: inset 0 0 10px black;
    padding: 20px 0px;
}

.copy {
    text-align: right;
}

.papers {
    background-color: #D8B378;
    padding: 50px 120px;
}

.papers .btn {
    margin: 20px 0px;
    background-color: white;
    border: none;
    color: rgb(155, 103, 60);
    padding: 5px 20px;
    border-radius: 20px;
}

.papers a {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 0px 10px;
    padding-top: 2px;
    text-decoration: none;
    font-size: 17px;
}

.fixedimg {
    background: url(images/wallpaperflare.com_wallpaper\ \(8\).jpg);
    background-attachment: fixed;
    height: 50vh;
}

.justify-content-around .card {
    display: inline-block;
    width: 23%;
    background-color: #D8B378;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fixedimg2 {
    background: url(images/pexels-taha-elahi-7984586.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.cardfooter {
    position: absolute;
    bottom: 20px;
    padding: 0px 30px;
}

.cardfooter img {
    width: 70px;
    height: 70px;
    border: 2px solid white;
}

.cardfooter p {
    margin: 0;
}

.rest>div:hover {
    transform: scale(0.9);
    transition: 1s;
}

.rest>div {
    transition: 1s;
}

.rest .card {
    width: 23%;
    text-align: right;
}

.hotel {
    text-align: right;
    background-color: white;
    box-shadow: 2px 2px 25px rgb(155, 103, 60);
}

.hotel img {
    width: 100%;
    opacity: 0;
}

.hotel .clipped {
    display: inline-block;
    transition: 1s;
}

.hotel .clipped2 {
    display: inline-block;
    transition: 1s;
}

.hotel .parent {
    overflow: hidden;
    clip-path: polygon(0% -15%, 100% 0%, 100% 100%, 100% 100%, 20% 150%);
}

.hotel .parent2 {
    overflow: hidden;
    clip-path: polygon(0% 0%, 104% -18%, 76% 97%, 75% 110%, 0% 100%);
}

.hotel:hover .clipped {
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

.hotel:hover .clipped2 {
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

.h-p {
    position: absolute;
    bottom: 55px;
    right: 50px;
    text-align: right;
}

.h-p1 {
    position: absolute;
    bottom: 55px;
    right: 490px;
    text-align: right;
}

.h-p1 button,
.h-p button {
    background-color: rgb(155, 103, 60);
    color: white;
    padding: 5px;
    border: none;
}

.col-sm-8 {
    padding: 35px;
}

.line,
.line1 {
    width: 150px;
    height: 5px;
    background-color: rgb(155, 103, 60);
    border-radius: 5px;
    position: absolute;
    right: 490px;
    top: 125px;
}

.line1 {
    right: 50px;
}

.hotel button:hover {
    background-color: rgb(155, 103, 60, 0.9);
}

.contact .card {
    width: 15%;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgb(155, 103, 60);
    background-color: white;
    color: rgb(155, 103, 60);
}

.contact .card img {
    filter: drop-shadow(2px 2px 5px rgb(155, 103, 60));
    margin: 20px 0px;
    transition: 1s;
}

.contact .card:hover img {
    transition: 1s;
    filter: drop-shadow(2px 2px 30px rgb(155, 103, 60));
}

.footer {
    padding: 45px;
}

.footer table {
    width: 25%;
    text-align: center;
}

.footer th {
    border-bottom: 1px solid #D8B378;
    border-top: 1px solid #D8B378;
}

.footer td {
    color: rgb(174, 174, 174);
    cursor: pointer;
}

.footer img {
    width: 70px;
    margin: 15px;
}

.copyright {
    text-align: center;
    color: rgb(174, 174, 174);
    border-bottom: 1px solid #D8B378;
    border-top: 1px solid #D8B378;
    padding: 15px;
}

.trip .btn {
    position: absolute;
    background-color: white;
    color: rgb(155, 103, 60);
    border: none;
    border: 1px solid rgb(155, 103, 60);
    z-index: 15;
}

.trip .card {
    padding-bottom: 50px;
}

.trip .card::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(255, 255, 255, 0.27);
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
    border-radius: 5px;
}

.trip .card:hover:after {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.trip .card::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(255, 255, 255, 0.27);
    bottom: 0;
    right: 0;
    z-index: 10;
    transition: 0.5s;
    border-radius: 5px;
}

.trip .card:hover:before {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.accordion-flush {
    text-align: right;
}

.accordion-button:after {
    order: -1;
    margin-right: 1100px;
}

.accordion-button,
.accordion-body {
    padding-right: 100px;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.57);
    padding: 50px 30px;
    backdrop-filter: blur(10px);
}

.carousel-caption h3 {
    color: rgb(92, 64, 51);
}

.carousel-caption p {
    color: black;
}

.carousel-caption button {
    background-color: rgb(92, 64, 51);
    border-radius: 20px;
    padding: 5px 30px;
    color: white;
    border: none;
}

.dropdown-menu {
    text-align: right;
}

nav .btn-primary,
.modal-footer .btn-primary {
    background-color: rgb(155, 103, 60);
    border: none;
}

.modal-footer {
    height: 65px;
}

.modal-footer .btn-primary {
    position: absolute;
    left: 80px;
    bottom: 10px;
}

.modal-footer .btn-danger {
    background-color: white;
    color: rgb(155, 103, 60);
    border: 1px solid rgb(155, 103, 60);
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.carousel-inner {
    height: 100vh;
}

p,
.accordion-body,
.papers,
td {
    font-family: 'Noto Naskh Arabic', serif;
}

th,
.copyright,
h2 {
    font-family: 'amiri', serif;
}

h3,
h4,
h5 {
    font-family: 'Scheherazade New', serif;
}

@media(max-width:500px) {
    body {
        overflow-x: hidden;
    }
    body>i {
        left: 5%;
        top: 25%;
        padding: 10px;
        font-size: 25px;
        width: 40px;
    }
    body>.i2 {
        top: 35%;
    }
    body>.i3 {
        top: 45%;
    }
    body>.i4 {
        top: 55%;
    }
    body>.i5 {
        top: 65%;
    }
    nav .me-2 {
        width: 100%;
    }
    .carousel-inner {
        height: 45vh;
    }
    .welcome {
        padding: 30px 65px;
    }
    .accordion-button:after {
        margin-right: 50vw;
    }
    .accordion-button,
    .accordion-body {
        padding-right: 20px;
    }
    .papers {
        padding: 50px 20px;
    }
    .papers h5 {
        font-size: 17px;
    }
    .fixedimg,
    .fixedimg2 {
        height: 30vh;
    }
    .justify-content-around {
        text-align: center;
    }
    .justify-content-around .card {
        width: 80vw;
    }
    .rest {
        position: static;
        text-align: center;
    }
    .rest .card {
        width: 95vw;
        text-align: right;
    }
    .hotel .parent {
        clip-path: none;
    }
    .hotel .parent2 {
        clip-path: none;
    }
    .h-p {
        position: absolute;
        bottom: 10px;
        left: 50px;
        text-align: right;
    }
    .h-p1 {
        position: absolute;
        bottom: 420px;
        left: -50px;
        text-align: right;
        width: 100vw;
    }
    .h-p1 button,
    .h-p button {
        background-color: rgb(155, 103, 60);
        color: white;
        padding: 5px;
        border: none;
        display: inline-block;
    }
    .col-sm-8 {
        padding: 35px;
    }
    .line1 {
        right: 50px;
        top: 535px;
    }
    .line {
        right: 50px;
        top: 125px;
    }
    .contact {
        text-align: center;
    }
    .contact .card {
        width: 40%;
        display: inline-block;
        margin: 5px;
    }
    .contact .card img {
        filter: drop-shadow(2px 2px 5px rgb(155, 103, 60));
        margin: 10px 0px;
        transition: 1s;
    }
    .contact .card:hover img {
        transition: 1s;
        filter: drop-shadow(2px 2px 30px rgb(155, 103, 60));
    }
    .footer {
        padding: 45px 5px;
    }
    .footer table {
        width: 25%;
        text-align: center;
        font-size: 10px;
    }
    .footer img {
        width: 50px;
    }
    .copyright {
        font-size: 12px;
    }
    .carousel-caption {
        padding: 10px;
    }
    .carousel-caption h3 {
        font-size: 14px;
    }
    .carousel-caption p {
        font-size: 8px;
    }
    .carousel-caption button {
        padding: 5px 20px;
        font-size: 10px;
    }
}

@media(max-width:400px) {
    .h-p {
        position: absolute;
        bottom: 10px;
        left: 50px;
        text-align: right;
    }
    .h-p1 {
        position: absolute;
        bottom: 420px;
        left: -50px;
        text-align: right;
        width: 100vw;
    }
    .h-p1 button,
    .h-p button {
        padding: 5px;
        font-size: 14px;
    }
    .h-p button {
        bottom: 10px;
    }
    .h-p1 {
        bottom: 370px;
    }
    .line1 {
        top: 485px;
    }
    .accordion-button:after {
        margin-right: 40vw;
    }
}